
$accentColor = #4bbf8a
$textColor = #7d7d7d
//$borderColor = #eaecef
//$codeBgColor = #282c34
//$arrowBgColor = #ccc
//$badgeTipColor = #42b983
//$badgeWarningColor = darken(#ffe564, 35%)
//$badgeErrorColor = #DA5961

$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 960px
$homePageWidth = 960px

h1
  color: #4bbf8a

.card
  background-color: none
  border: 1px solid #7d7d7d

.video-block {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  width: 100%; height: auto;}

.video-block iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;}